.list_app {
  position: relative;
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.list_item {
  display: inline-block;
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.list_item img {
  display: block;
  width: 300px;
}

.list_item span {
  display: block;
  text-align: center;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
}



@media screen and (max-width: 1199px) {
  .list_item img {
    width: 150px;
  }
  
}

@media screen and (max-width: 991px) {
  .list_item img {
    width: 110px
  }
  .list_item span {
    font-size: 1.2rem; 
  }
}

@media screen and (max-width: 767px) {
  .list_item img {
    width: 90px
  }
  .list_item span {
    font-size: 80%; 
  }
}

@media screen and (max-width: 660px) {
  .list_app{
    display: block;
  }
  .list_item{
    display: block;
    margin-bottom: 15px;
  }
  .list_item img {
    display: block;
    position: relative;
    width: 150px;
    text-align: center;
    margin: 0 auto;
  }
  .list_item span {
    display: block;
  }
}
